/* Itens Relacionados ao chat, delays e cores do /me */

#chat .emote { border-left: rgba(174, 69, 189, 1) 3px solid !important; background-color: rgba(190, 28, 213, 0.22) 
!important; background: linear-gradient(to right,rgba(255, 118, 118, 0.05) 0,rgba(255, 0, 194, 0.27) 100%) !important; }
#chat .message:nth-child(2n+1),#chat .mention:nth-child(2n+1),#chat .skip:nth-child(2n+1),#chat .moderation:nth-child(2n+1),
#chat .emote:nth-child(2n+1),#chat .update:nth-child(2n+1),#chat .welcome:nth-child(2n+1) #chat .emote, #chat .mention,
#chat .message, #chat .moderation, #chat .skip, #chat .system, #chat .update, #chat .welcome {
background-color: rgba(17, 19, 23, 0.32); -webkit-animation:fadein 0.6s;  -moz-animation:fadein 0.6s;
-ms-animation:fadein 0.6s;  -o-animation:fadein 0.6s; animation:fadein 0.6s; }

/* Itens Relacionados ao Menu do ícone do plug! */

#app-menu {max-width: 400px    !important;}
#app-menu .list {max-width: 400px !important;}
#app-menu, #app-menu.open { -webkit-transition: 500ms ease; transition: 500ms ease; }
#app-menu .list { -webkit-transition: 500ms ease; transition: 500ms ease; opacity: 0; }
#app-menu.open .list { -webkit-transition: 500ms ease; transition: 500ms ease; opacity: 1; }
#app-menu, #app-menu .button { background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(0, 0, 0, 0) 100%) !important; }
#app-menu div { background-color: rgba(0, 0, 0, 0.8) !important; }
#app-menu.open > .button { background-color: rgba(0,0,0,0.85) !important; }
#app-menu {border-right-width: 0 !important; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
#app-menu div { background-color: rgba(0, 0, 0, 0) !important; }
#app-menu.open { background-color: #282c35; }
#app-menu { left: -177px; max-width: 300px; background-color: rgba(69, 69, 69, 0.25); }
#app-menu .button i { left: 189px; }
#app-menu .item:hover  { background: #000 !important; box-shadow: 0 0 15px #fff !important; }
.dark-label {color: #fff;}

/* Room Info / Room Settings */

#room-info { opacity:  .90; }
#room-info .button.disabled { background: linear-gradient(to bottom,rgba(98, 27, 16, 1) 0,rgba(226, 37, 0, 0.73) 100%);
box-shadow: 0 0 10px rgba(147, 31, 13, 1) !important;}
#room-info .button.enabled { background: linear-gradient(to bottom, rgba(24, 24, 24, 0.76) 0px, #1396BA 100%) repeat scroll 0% 0% rgba(0, 0, 0, 0.42);
box-shadow: 0 0 15px #12A9E0 !important; }
#room-info .button.enabled { background: linear-gradient(to bottom,rgba(18, 84, 105, 1) 0,rgba(0, 197, 255, 0.73) 100%); }
.app-header, .in-room, #room-info .edit { background: linear-gradient(to bottom,rgba(255, 255, 255, 0.05) 0,rgba(0, 0, 0, 0.75) 100%) !important; }
#room-settings {background: black-tr;opacity: 0.9;text-shadow: 1px -1px #000;};
#room-settings-menu .item.selected { background-color: rgba(18, 169, 224, 0.1) !important; background: linear-gradient(to right,rgba(18, 169, 224, 0.08) 0,rgba(6, 189, 255, 0.72) 100%) !important; }
#room-settings-menu { width: 220px;height: 100%;background: black; }
#room-settings-menu .title { position: relative;margin: 10px 10px 15px;width: 200px;color: #FFFFFF;font-size: 28px; }
#room-settings-menu .item.selected { background-color: rgba(18, 169, 224, 0.1) !important; background: linear-gradient(to right,rgba(18, 169, 224, 0.08) 0,rgba(6, 189, 255, 0.72) 100%) !important; }
#room-info .lock-toggle, #room-info .cycle-toggle { background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%); }

/* Botões no menu superior que faltavam adicionar transparência ! */

#history-button, #info-button, #history-button .selected, .header-panel-button, #friends-button, #user-lists .list.staff .group 
{ background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0,rgba(0, 0, 0, 0) 100%) !important; }
#room .app-right { background: linear-gradient(to right,rgba(0, 0, 0, 0.6) 0,rgba(0, 0, 0, 0.76) 100%) !important; }
#waitlist .list .user, .app-right .friends, .app-right .friends.has-requests .header, #chat-header
{ background: rgba(10, 10, 10, 0) !important; }
.header-panel-button.selected, #friends-button.selected  { opacity: .25; border-right: #0a0a0a 1px solid; } 
#user-view { background: linear-gradient(to right,rgba(0, 0, 0, 0.98) 0,rgba(0, 0, 0, 0.85) 100%) !important; }
#user-friends .list .row { background: linear-gradient(to right,rgba(0, 0, 0, 0.17) 0,rgba(255, 255, 255, 0.09) 100%) !important; }

/* Efeitos de sombras nos botões esquerdos de DJ */

#dj-button  { background: linear-gradient(to bottom,rgba(0, 0, 0, 0.37) 0,rgba(0, 0, 0, 0.44) 100%);  }
#dj-button.is-locked .left, #dj-button.is-full .left { 
    background: linear-gradient(to top,rgba(77, 77, 77, 1) 0,rgba(15, 15, 30, 1) 100%) !important;
border-radius: 8px; border-left-width: 4px; }
#dj-button.is-quit .left, #dj-button.is-leave .left, #playlist-delete-button:hover { background: linear-gradient(to bottom,#F45B40 0,#892B18 100%) !important; }
#dj-button.is-wait, #dj-button.is-wait .left  {  box-shadow: 0 0 10px #12A9E0 !important;  }
#dj-button.is-leave {  box-shadow: 0 0 10px rgba(158, 30, 11, 1) !important; }
#dj-button.is-locked .left, #dj-button.is-full .left {  box-shadow: #000 !important;  }

/* Sombra das caixas de dialogo e bordas redondas ! */

 #chat-input, .dialog-input-background, .input-background, #room-info .input-background, #input-room-name , 
 #user-friends .list .row .buttons button, #user-avatars .tab-menu button, #user-friends .search, 
#import-youtube .youtube-input, #search-bar , #filter-bar,#import-youtube .button,#playlist-import-panel .button, 
#user-friends .list .row .buttons button, #user-friends .tab-menu button, .tab-menu button,
.user-content.profile .meta .blurb input, .user-content.profile .meta .blurb .box, #user-lists .list-header .input-background,
.app-right .friends .list-header .input-background { border-radius: 30px;   background: #282c35; } 

/* Woot / Meh / Grab /  desativados! */

#vote .crowd-response.disabled .bottom, #vote .crowd-response.disabled, #vote .crowd-response
 { background: #222224; }
#meh.crowd-response.disabled.active .bottom {
background: linear-gradient(to bottom,rgba(102, 102, 102, 0) 0,rgba(255, 0, 0, 1) 100%); }
#grab.crowd-response.disabled.active .bottom {
background: linear-gradient(to bottom,rgba(102, 102, 102, 0) 0,rgb(212,175,55) 100%); }
#woot .bottom, #woot.selected {
background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0px, #00C700 100%); }
#woot.crowd-response.disabled.active .bottom {
background: linear-gradient(to bottom,rgba(102, 102, 102, 0) 0,rgba(31, 255, 0, 0.75) 100%); }
#grab .bottom, #grab.selected {
background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0px, #eec81b 100%); }
#meh .bottom, #meh.selected {
background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0px, #F70000 100%); }
.pop-menu .bar { background: linear-gradient(to top,rgba(55, 54, 54, 1) 0,rgba(15, 15, 30, 1) 100%) !important; }
.pop-menu li:hover { background: #12A9E0 !important; box-shadow: 0 0 15px #12A9E0 !important; }
.pop-menu .bar { background: linear-gradient(to top,rgba(77, 77, 77, 0.6) 0,rgba(15, 15, 30, 1) 100%) !important; }

/* Scroll Bar nova e personalizada */

::-webkit-scrollbar { width: 8px !important; background: #282c35 !important; }
::-webkit-scrollbar-thumb { -webkit-box-shadow:inset 0 0 100px #444852!important;-moz-box-shadow:inset 0 0 100px #444852!important;box-shadow:inset 0 0 100px #444852!important; }

/* Itens relacionados a playlist! */

.media-list .row.now-playing, #playlist-button, .media-list .selected .actions, .media-list .row.selected, 
.media-list .row.now-playing .actions, #playlist-menu .menu .row.selected {  
background: linear-gradient(to bottom, #1C99D0 0px, #0E3D56 100%)!important; }
 .media-list.history .row.selected, .media-list.history .selected .actions {  background:#005070 !important; 
box-shadow: 0 0 10px #005070 !important; }
.media-list.history .score .grabs span {   color: #D87F0E; }
#playlist-create:hover { box-shadow: 0 0 10px #186696 !important; background: linear-gradient(to bottom, #1C92D0 0px, #0E3556 100%) !important; }
#playlist-import:hover { box-shadow: 0 0 10px #6E186D !important; background: linear-gradient(to bottom, #A91CD0 0px, #4F0E56 100%)!important; }
#playlist-edit-button { background: linear-gradient(to bottom, #2F5286 0px, #091036 100%); } 
#playlist-edit-button:hover { background: linear-gradient(to bottom, #5290EC 0px, #142580 100%); } 
#playlist-shuffle-button { background: linear-gradient(to bottom, #473861 0px, #140A27 100%); } 
#playlist-shuffle-button:hover { background: linear-gradient(to bottom, #7F63B3 0px, #321A5E 100%); } 
#playlist-delete-button { background: linear-gradient(to top, #571515 0px, #442609 100%); } 
#playlist-activate-button span, #playlist-menu .menu .row .count, .media-list.history .meta .timestamp { color: #FFFFFF; }
#playlist-menu .title { color: #1290BF; }
#playlist-delete-button:hover { background: linear-gradient(to bottom,rgba(68, 68, 68, 0.6) 0,rgba(226, 37, 0, 0.73) 100%);
box-shadow:  0 0 10px rgba(158, 30, 11, 1)     !important; }
#playlist-shuffle-button:hover { background: linear-gradient(to bottom,rgba(119, 48, 146, 1) 0, rgba(180, 71, 216, 0.73) 100%) !important; box-shadow: 0 0 10px #C41EC3 !important; }
 #playlist-panel, #history-panel  { background : black-transparent; opacity: 0.9;  text-shadow: 1px -1px #000; }
 #playlist-menu {    background: none;  } 
#playlist-activate-button {background: linear-gradient(to bottom, #1C99D0 0px, #0E3D56 100%)!important; border-radius: 20px 0px 0px 20px !important; }
#search { background: #000 !important;  }

#room-name {
    overflow: visible;
}
#room-name  span:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #1290BF , 0 0 70px #1290BF , 0 0 80px #1290BF , 0 0 100px #1290BF ;
}

#room-name .bar-value  {
    display: inline-block;
    /* top: -10px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 10px; */
    border: none;
    font: normal 18px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    /*text-align: center;*/
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #1290BF  , 0 0 70px #1290BF  , 0 0 80px #1290BF  , 0 0 100px #1290BF ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


#footer {background: black;opacity: 0.9;text-shadow: 1px -1px #000;}

/* Itens relacionados ao passar o mouse por cima! */ 

 #user-lists .list .user:hover, .media-list .actions, #user-rollover .actions .action:hover  { background-color: rgba(18, 169, 224, 0.1) !important; 
background: linear-gradient(to right,rgba(18, 169, 224, 0.08) 0,rgba(6, 189, 255, 0.72) 100%) !important; }  
#user-rollover { background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0, rgba(0, 0, 0, 0.75) 100%);
background: linear-gradient(to bottom,rgba(0, 0, 0, 0.75) 0,rgba(0, 0, 0, 0.75) 100%); }
#user-rollover .info, #user-rollover .info .badge-box, #chat-messages .badge-box, .user-content.profile .meta .badge-box {background: none;}
